@model Models.Models.Usuario;

@{
    Layout = "_UsuarioLayout";
    Boolean readOnly = Model.FechaBorrado != null ? true : false;

    ViewData["Title"] = "EditarUsuario";
}
<div>
    <div class="volver mb-3 row">
        <div class="col">
            <a asp-controller="Usuario" asp-action="Usuarios" class="mx-1">
                <i class="fas fa-long-arrow-alt-left"></i> Volver
            </a>
        </div>
    </div>
    <div class="py-2 titulos-paginas">
        @if (!readOnly)
        {
            <h3>Editar Usuario</h3>
        }
        else
        {
            <h3>Usuario</h3>
        }
    </div>
    <form class="nuevo-articulo row" asp-action="EditarUsuario" asp-controller="Usuario" method="post">
        <input type="hidden" asp-for="IdUsuario" value="@Model.IdUsuario" />
        <div class="mb-3 col-12 col-md-6">
            <label for="Email" class="form-label">Email:</label>
            <input type="email" asp-for="Email" disabled="@readOnly" value="@Model.Email" class="form-control" />
            <span asp-validation-for="Email"class="text-danger fst-italic text-uppercase"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Password" class="form-label">Password:</label>
            <input type="password" asp-for="Password" disabled="@readOnly" value="@Model.Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger fst-italic text-uppercase"></span>
        </div>

        <div class="mb-3 col-12 col-md-6">
            <label for="Nombre" class="form-label">Nombre:</label>
            <input type="text" asp-for="Nombre" disabled="@readOnly" value="@Model.Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger fst-italic text-uppercase"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Apellido" class="form-label">Apellido:</label>
            <input type="text" asp-for="Apellido" disabled="@readOnly" value="@Model.Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger fst-italic text-uppercase"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="EsAdmin" class="form-label">Admin:</label>
            <input type="checkbox" asp-for="EsAdmin" disabled="@readOnly" value="true" class="form-check-input form-check " checked="@Model.EsAdmin" />
            <span asp-validation-for="EsAdmin" class="text-danger fst-italic text-uppercase"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="FechaNacimiento" class="form-label">Fecha De Nacimiento:</label>
            <input type="date" asp-for="FechaNacimiento" disabled="@readOnly" value="@string.Format("{0:yyyy-MM-dd}", Model.FechaNacimiento)" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger fst-italic text-uppercase"></span>
        </div>

        @if (!readOnly)
        {
            <div class="mb-3 col-12">
                <input type="submit" class="btn btn-outline-success text-uppercase" value="Guardar" name="guardar" />
                <input type="submit" class="btn btn-outline-success text-uppercase" value="Guardar y Editar otro" name="guardar" />
                <a class="btn btn-outline-warning text-uppercase" asp-controller="Usuario" asp-action="Usuarios">Cancelar</a>
            </div>
        }
    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}
