@model IEnumerable<Models.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";

}
<div>
    <div class="volver mb-3 row">
        <div class="col">
            <a asp-controller="Usuario" asp-action="NuevoUsuario" class="mx-1">
                <i class="fas fa-plus"></i> Nuevo Usuario
            </a>
        </div>
    </div>
    <div class="py-2 titulos-paginas">
        <h2>USUARIOS</h2>
    </div>

    <div class="row">

        <div class="col-12 mt-3">
            <h4 class="titulos-paginas">Lista de Usuarios</h4>
            <p class="filtros" data-bs-toggle="collapse" href="#filtros" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-caret-right"></i> Filtros</p>
            <div class="collapse" id="filtros">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <p class="form-check-label" for="flexCheckChecked">
                        Excluir eliminados
                    </p>
                </div>
                <div class="mb-3">
                    <select class="form-select" name="codigo">
                        <option>Nombre Usuario</option>
                        <option>-</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" name="codigo">
                        <option>Email</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive ">
                <table id="" class="table table-striped" style="width:100%">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center" scope="col">Nombre</th>
                            <th class="text-center" scope="col">Email</th>
                            <th class="text-center" scope="col">Fecha Nacimiento</th>
                            <th class="text-center" scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var usuario in @Model)
                        {
                            <tr>
                                <td class="text-center">@usuario.IdUsuario</td>
                                <td class="text-center">@usuario.Nombre @usuario.Apellido</td>
                                <td class="text-center">@usuario.Email</td>
                                <td class="text-center">@usuario.FechaNacimiento.Value.ToShortDateString()</td>
                                <td class="text-center">
                                    <a asp-action="EditarUsuario" asp-controller="Usuario" asp-route-id="@usuario.IdUsuario" data-bs-toggle="tooltip" data-placement="top" title="Ver Usuario"><i class="fas fa-info btn"></i></a> |
                                    <a asp-action="BajaUsuario" asp-controller="Usuario" asp-route-id="@usuario.IdUsuario" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Usuario"> <i class="fas fa-times btn text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<!--
<h1>Usuarios</h1>

<div>
    <a class="btn btn-primary" asp-controller="Usuario" asp-action="NuevoUsuario">Nuevo Cliente</a>
</div>
<section>
    <div>
        <form asp-action="FiltrarUsuario" asp-controller="Usuario" asp-route-nombre="" method="get">
            <select>
                <option>Nombre Usuario</option>
                <option>-</option>
            </select>
            <select>
                <option>Email</option>
            </select>
            <div>
                <label> Excluir Eliminados:</label>
                <input type="checkbox" value="false" />
            </div>
        </form>
    </div>
    <div class="table-responsive text-center">
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in @Model)
                {
                    <tr>
                        <td>@usuario.Nombre @usuario.Apellido</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.FechaNacimiento.Value.ToShortDateString()</td>
                        <td class="dropdown dropleft text-center">
                            <a class="btn btn-outline-info dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdownMenuLink">
                                <a class="btn btn-warning text-light" type="button" asp-action="EditarUsuario" asp-controller="Usuario" asp-route-id="@usuario.IdUsuario">Editar</a>
                                <a class="btn btn-danger text-light" asp-action="BajaUsuario" asp-controller="Usuario" asp-route-id="@usuario.IdUsuario" type="button">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
-->
