@model List<Models.Models.Cliente>

@{
    Layout = "_UsuarioLayout";
    ViewData["Title"] = "Clientes";
    bool? ExcluirEliminados = (bool)ViewData["ExcluirEliminados"];
}
<div>
    <div class="volver mb-3 row">
        <div class="col">
            <a asp-controller="Cliente" asp-action="NuevoCliente" class="mx-1">
                <i class="fas fa-plus"></i> Nuevo Cliente
            </a>
        </div>
    </div>
    <div class="py-2 titulos-paginas">
        <h2>CLIENTES</h2>
    </div>

    <div class="row">

        <div class="col-12 mt-3">
            <h4 class="titulos-paginas">Lista de Clientes</h4>
            <p class="filtros" data-bs-toggle="collapse" href="#filtros" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-caret-right"></i> Filtros</p>
            <div class="collapse" id="filtros">
                <div class="form-check">
                    @if (ExcluirEliminados == true)
                    {


                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    }

                    <p class="form-check-label" for="flexCheckChecked">
                        Excluir eliminados
                    </p>
                </div>

            </div>
            <div class="table-responsive ">
                <table id="tableCliente_id" class="table table-striped display" >
                    <thead class="bg-dark text-light">
                        <tr>
                            <th class="text-center">#</th>
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">Numero</th>
                            <th scope="col" class="text-center">Email</th>
                            <th scope="col" class="text-center">Telefono</th>
                            <th scope="col" class="text-center">Direccion</th>
                            <th scope="col" class="text-center">CUIT</th>
                            <th scope="col" class="text-center">Ver</th>
                            <th scope="col" class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count != null && Model.Count == 0)
                        {
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>No hay clientes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var cliente in Model)
                            {
                    <tr>
                        <td class="text-center">@cliente.IdCliente</td>
                        <td class="text-center">@cliente.Nombre</td>
                        <td class="text-center">@cliente.Numero</td>
                        @if (@cliente.Email != null)
                        {
                            <td class="text-center">@cliente.Email</td>
                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }
                        @if (@cliente.Telefono != null)
                        {
                            <td class="text-center">@cliente.Telefono</td>
                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }

                        @if (@cliente.Direccion != null)
                        {
                            <td class="text-center">@cliente.Direccion</td>
                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }

                        @if (@cliente.Cuit != null)
                        {
                            <td class="text-center">@cliente.Cuit</td>
                        }
                        else
                        {
                            <td class="text-center">-</td>
                        }
                        <td class="text-center"> <a href="/cliente/Editarcliente?idCliente=@cliente.IdCliente" data-bs-toggle="tooltip" data-placement="top" title="Ver Cliente"><i class="fas fa-info btn"></i></a></td>
                        @if (@cliente.FechaBorrado == null)
                        {
                            <td class="text-center">
                                <button type="button" class="btn botonBorrar" data-bs-toggle="modal" data-bs-target="#borrarCliente" data-id="@cliente.IdCliente">
                                    <i class="fas fa-times btn text-danger"></i>
                                </button>
                            </td>
                        }
                        else
                        {
                            <td class="text-center fst-italic">

                                <p>Eliminado</p>
                            </td>
                        }

                    </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="borrarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header  bg-dark text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Borrar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas borrar al cliente?</p>
                    <p>Al borrarlo, se cerraran todos sus pedidos activos.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">CANCELAR</button>
                    <form action="/Cliente/Borrarcliente" method="post">
                        <input type="hidden" id="IdCliente" name="IdCliente" value=""/>
                        <button type="submit" class="btn btn-outline-danger" name="botonBorrar" id="botonBorrar">BORRAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ClienteScript.js" type="text/javascript"></script>
}
