@model Models.Models.Cliente;
@{
    Layout = "_UsuarioLayout";
    ViewData["Title"] = "Editar Cliente";
    Boolean readOnly = Model.FechaBorrado != null ? true : false;
}

<div>
    <div class="volver mb-3 row">
        <div class="col">
            <a asp-controller="Cliente" asp-action="Clientes" class="mx-1">
                <i class="fas fa-long-arrow-alt-left"></i> Volver
            </a>
        </div>
    </div>
    <div class="py-2 titulos-paginas">
        @if (!readOnly)
        {

            <h3>Editar Cliente</h3>
        }
        else
        {
            <h3>Cliente</h3>
        }
    </div>
    <form class="nuevo-articulo row" action="/Cliente/EditarCliente" method="post">
        <input type="hidden" name="IdCliente" value="@Model.IdCliente" />
        <div class="mb-3 col-12 col-md-6">
            <label for="Nombre" class="form-label">Nombre:</label>
            <input type="text" readonly="@readOnly" asp-for="Nombre" value="@Model.Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Numero" class="form-label">Numero:</label>
            <input type="text" disabled="@readOnly" asp-for="Numero" value="@Model.Numero" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Telefono" class="form-label">Telefono:</label>
            <input type="text" disabled="@readOnly" asp-for="Telefono" value="@Model.Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Email" class="form-label">Email:</label>
            <input type="text" disabled="@readOnly" asp-for="Email" value="@Model.Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Direccion" class="form-label">Direccion:</label>
            <input type="text" disabled="@readOnly" asp-for="Direccion" value="@Model.Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="Cuit" class="form-label">CUIT:</label>
            <input type="text" disabled="@readOnly" asp-for="Cuit" value="@Model.Cuit" class="form-control" />
            <span asp-validation-for="Cuit" class="text-danger"></span>
        </div>
        @if (!readOnly)
        {
            <div class="mb-3 col-12">
                <input type="submit" class="btn btn-outline-success text-uppercase" value="Modificar" name="guardar" />
                <a class="btn btn-outline-warning text-uppercase" asp-controller="Cliente" asp-action="Clientes">Cancelar</a>
            </div>
        }
    </form>

</div>
