
﻿@using Models.Models
@{
    Layout = "_UsuarioLayout";
    ViewData["Title"] = "Pedido";
    List<Pedido> pedidos = (List<Pedido>)ViewData["Pedidos"];
    bool? ExcluirEliminados = (bool)ViewData["ExcluirEliminados"];
    bool? UltimosDosMeses = (bool)ViewData["UltimosDosMeses"];
}

<div>
    <div class="volver mb-3 row">
        <div class="col">
            <a asp-controller="Pedido" asp-action="NuevoPedido" class="mx-1">
                <i class="fas fa-plus"></i> Nuevo Pedido
            </a>
        </div>
    </div>
    <div class="py-2 titulos-paginas">
        <h2>PEDIDOS</h2>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <h4 class="titulos-paginas">Lista de Pedidos</h4>
            <p class="filtros" data-bs-toggle="collapse" href="#filtros" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-caret-right"></i> Filtros</p>
            <div class="collapse" id="filtros">
                <div class="form-check">
                    @if (UltimosDosMeses == true)
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultDosMeses" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultDosMeses">
                    }

                    <p class="form-check-label" for="flexCheckDefault">
                        Solo los ultimos dos meses
                    </p>
                </div>
                <div class="form-check">
                    @if (ExcluirEliminados == true)
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedPedido" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedPedido">
                    }
                    <p class="form-check-label" for="flexCheckChecked">
                       Listar entregados
                    </p>
                </div>
            </div>
            <div class="table-responsive ">
                <table id="table_id" class="table table-striped" style="width:100%">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Nro Pedido</th>
                            <th class="text-center">Comentarios</th>
                            <th class="text-center">Ult. Modificacion</th>
                            <th class="text-center">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in pedidos)
                        {
                            <tr>
                                <td class="text-center">@p.IdPedido</td>
                                <td class="text-center">@p.IdClienteNavigation.Nombre</td>
                                <td class="text-center">@p.IdEstadoNavigation.Descripcion</td>
                                <td class="text-center">@p.NroPedido</td>
                                <td class="text-center">@p.Comentarios</td>
                                <td class="text-center">@p.FechaModificacion </td>
                                <td class="text-center">
                                    <a href="/pedido/editarpedido/@p.IdPedido" data-bs-toggle="tooltip" data-placement="top" title="Ver pedido"><i class="fas fa-info btn"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/pedidoScript.js"></script>
}