@model Models.Models.Articulo;
@{
    Layout = "_UsuarioLayout";
    Boolean readOnly = Model.FechaBorrado != null ? true : false;
    ViewData["Title"] = "Editar Artículo";
}
<div>
    <div class="volver mb-3 row">
        <div class="col">
            <a asp-controller="Articulo" asp-action="Articulos" class="mx-1">
                <i class="fas fa-long-arrow-alt-left"></i> Volver
            </a>
        </div>
    </div>

    <div class="py-2 titulos-paginas">
        @if (!readOnly)
        {

            <h3>Editar articulo</h3>
        }
        else
        {
            <h3>Articulo</h3>
        }
    </div>
    <form class="nuevo-articulo" asp-action="EditarArticulo" asp-controller="Articulo" method="post">
        <input type="hidden" asp-for="IdArticulo" value="@Model.IdArticulo" />
        <div class="mb-3">
            <label for="Codigo" class="form-label text-uppercase">Código:</label>
            <input type="text" disabled="@readOnly" asp-for="Codigo" value="@Model.Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger fst-italic text-uppercase"></span>
        </div>
        <div class="mb-3">
            <label for="Descripcion" class="form-label text-uppercase">Descripción:</label>
            <input type="text" disabled="@readOnly" asp-for="Descripcion" value="@Model.Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger fst-italic text-uppercase "></span>
        </div>
        @if (!readOnly)
        {
            <div class="mb-3">
                <input type="submit" class="btn btn-outline-success text-uppercase" value="Editar" />
                
                <button type="button" class="btn btn-outline-danger text-uppercase" data-bs-toggle="modal" data-bs-target="#borrarArticulo" data-id="@Model.IdArticulo">ELIMINAR</button>
                <a class="btn btn-outline-warning text-uppercase" asp-controller="Articulo" asp-action="Articulos">Cancelar</a>
            </div>
        }
    </form>

</div>

<!-- Modal -->
<div class="modal fade" id="borrarArticulo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar artículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>“¿Esta seguro que desea eliminar el artículo @Model.Descripcion? Si lo elimina, se eliminara de los pedidos en los que se encuentre</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form action="/Articulo/EliminarArticulo" method="post">
                    <input type="hidden" id="IdArticulo" name="IdArticulo" value="@Model.IdArticulo" />
                    <button type="submit" class="btn btn-danger" name="botonBorrar" id="botonBorrar">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ArticuloScript.js" type="text/javascript"></script>
}
